html {
    background-image: url(../IMAGENS/fundo.jpg);


}

body {
    padding-left: 100px;
    color: aliceblue;
    width: 50%;
    display: flex;
    display: inline-table;
    justify-items: center;
    position: relative;
}
.title-1{
    background-color: antiquewhite;
    display: flex;
    display: inline-block;


}

.cabecalho {
    background-color: rgb(15, 236, 81);
    border-style: ridge;
    border-radius: 5px;
    display: flex;
    display: inline-flex;
    }

.title {
    padding-left: 720px;
}

.logo {
    width: 70px;
    height: 70px;
    display: flex;
    display: inline-block;
    padding-left: 15px;

}

.ico-reder-ins {
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.ico-reder-you {
    width: 50px;
    height: 50px;
    padding-left: 600px;
    padding-top: 30px;
}

.post-capa {
    display: flex;
    display: inline-block;
    padding-left: 10px;
    width: 10%;
    height: 10%;

}

.img-prince {
    width: 150px;
    height: 40px;
    display: flex;
    display: inline-block;
    justify-items: center;
    padding: 5px;
}

.lista-jogos {
    display: inline-block;
    justify-content: center;
}

.descricao-jg {
    display: flex;
    display: inline-block;


}